@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --primary: 0 0% 0%;
    --secondary: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0.25rem;

    --navbar-bg: #0f172a;
    --aside-bg: #0f172a;
    --border: #9db1e0a8;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --primary: 210 40% 98%;
    --secondary: 0 0% 0%;
    --input: 217.2 32.6% 17.5%;
    --border: #223869;
  }
}

@layer base {
  body {
    @apply bg-background text-primary;
  }

  table,
  td,
  th {
    @apply border border-border p-2;
  }
  table th {
    @apply text-left;
  }

  .aside-li a {
    @apply text-sm flex items-center py-3 gap-2 my-1 hover:bg-gray-700 pl-3 rounded-tl rounded-bl;
  }
}

.active {
  background-color: #1e2a43;
}
